In questo Jupyter Notebook verranno svolte delle query per esplorare i dati del database creato precedentemente di tipo SQlite

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('C:/Users/glori/OneDrive/Desktop/ecommerce.csv/ecommerce.sqlite')
cursor = conn.cursor()

Quanti marchi distinti abbiamo nel database

In [15]:
cursor.execute("SELECT  distinct marchio FROM ecommerce group by marchio")
len(cursor.fetchall())

563

Quanti settori distinti abbiamo nel database

In [25]:
cursor.execute("SELECT  distinct settore FROM ecommerce group by settore")
totale=cursor.fetchall()
totale

[('Arceria',),
 ('Arti marziali',),
 ('Bambino',),
 ('Baseball',),
 ('Basket',),
 ('Buoni / acconti',),
 ('Calcio',),
 ('Casual',),
 ('Ciclismo',),
 ('Danza',),
 ('Fitness',),
 ('Freccette',),
 ('Golf',),
 ('Intimo',),
 ('Mare',),
 ('Nuoto',),
 ('Padel',),
 ('Pattini',),
 ('Pesca',),
 ('Ping-pong',),
 ('Rugby',),
 ('Running',),
 ('Sci',),
 ('Skateboard',),
 ('Snowboard',),
 ('Soft air',),
 ('Subacquea',),
 ('Tennis',),
 ('Trekking',),
 ('Volley',)]

In quale anno c'è stato il fatturato più alto

In [29]:
cursor.execute("SELECT  sum(qta*prezzo) ,anno  FROM ecommerce group by anno order by sum(qta*prezzo) desc")
cursor.fetchall()

[(11390456.532700265, 2020),
 (9035695.195799714, 2018),
 (8484906.50965937, 2021),
 (8381653.837549435, 2017),
 (7557252.085599755, 2015),
 (7474662.906199716, 2019),
 (7281402.261349681, 2016),
 (6837547.58889987, 2022),
 (4595103.50180001, 2014),
 (2071102.3310600184, 2023),
 (1017040.633560006, 2013),
 (13051.0478, 2012)]

Settore con più vendite

In [30]:
cursor.execute("SELECT  sum(qta) ,settore  FROM ecommerce group by settore order by sum(qta) desc")
cursor.fetchall()

[(232692, 'Pesca'),
 (83268, 'Calcio'),
 (50944, 'Fitness'),
 (41334, 'Casual'),
 (12139, 'Running'),
 (9365, 'Tennis'),
 (7078, 'Sci'),
 (6173, 'Trekking'),
 (5828, 'Bambino'),
 (5440, 'Padel'),
 (5232, 'Snowboard'),
 (4454, 'Mare'),
 (4209, 'Ciclismo'),
 (3289, 'Nuoto'),
 (2399, 'Basket'),
 (926, 'Ping-pong'),
 (776, 'Volley'),
 (455, 'Subacquea'),
 (393, 'Pattini'),
 (294, 'Arti marziali'),
 (248, 'Skateboard'),
 (146, 'Rugby'),
 (134, 'Baseball'),
 (124, 'Danza'),
 (93, 'Arceria'),
 (78, 'Freccette'),
 (62, 'Golf'),
 (60, 'Buoni / acconti'),
 (9, 'Intimo'),
 (5, 'Soft air')]

Settore con più vendite, raggruppato per anno

In [34]:
cursor.execute("select max (a.totale),a.settore,a.anno from (SELECT sum(qta) as totale ,settore,anno FROM ecommerce group by settore,anno) as a group by a.anno ")
cursor.fetchall()

[(14, 'Fitness', 2012),
 (1919, 'Pesca', 2013),
 (6950, 'Pesca', 2014),
 (18643, 'Pesca', 2015),
 (27561, 'Pesca', 2016),
 (33736, 'Pesca', 2017),
 (33484, 'Pesca', 2018),
 (24266, 'Pesca', 2019),
 (33643, 'Pesca', 2020),
 (29293, 'Pesca', 2021),
 (18292, 'Pesca', 2022),
 (4902, 'Pesca', 2023)]

Settore che fattura di più

In [35]:
cursor.execute("SELECT  sum(qta*prezzo) ,settore  FROM ecommerce group by settore order by sum(qta*prezzo) desc")
cursor.fetchall()

[(16429652.18608302, 'Pesca'),
 (15094690.830730509, 'Calcio'),
 (13661430.886949422, 'Casual'),
 (9321384.617019063, 'Fitness'),
 (4637836.611800062, 'Sci'),
 (4301059.024500101, 'Running'),
 (2447321.1044800165, 'Snowboard'),
 (2430568.4368000356, 'Trekking'),
 (1333864.373660005, 'Padel'),
 (1093252.7130000067, 'Tennis'),
 (1086216.473300017, 'Bambino'),
 (682594.2990999974, 'Mare'),
 (523654.55309999513, 'Basket'),
 (388917.15225999634, 'Ciclismo'),
 (236918.89549999902, 'Nuoto'),
 (128510.15380000041, 'Volley'),
 (68845.03499999989, 'Subacquea'),
 (67193.0350000001, 'Pattini'),
 (41370.66430000003, 'Skateboard'),
 (39381.615, 'Rugby'),
 (33856.45969999999, 'Arti marziali'),
 (25005.08499999998, 'Golf'),
 (22004.474799999927, 'Ping-pong'),
 (14616.07, 'Buoni / acconti'),
 (11020.491999999971, 'Freccette'),
 (8304.8931, 'Baseball'),
 (6981.352000000006, 'Danza'),
 (2035.2640000000035, 'Arceria'),
 (1284.4299999999998, 'Intimo'),
 (103.25, 'Soft air')]

Settori e quantità totali vendute

In [45]:
cursor.execute("SELECT  sum(qta) ,settore  FROM ecommerce group by settore order by sum(qta) desc")
cursor.fetchall()

[(232692, 'Pesca'),
 (83268, 'Calcio'),
 (50944, 'Fitness'),
 (41334, 'Casual'),
 (12139, 'Running'),
 (9365, 'Tennis'),
 (7078, 'Sci'),
 (6173, 'Trekking'),
 (5828, 'Bambino'),
 (5440, 'Padel'),
 (5232, 'Snowboard'),
 (4454, 'Mare'),
 (4209, 'Ciclismo'),
 (3289, 'Nuoto'),
 (2399, 'Basket'),
 (926, 'Ping-pong'),
 (776, 'Volley'),
 (455, 'Subacquea'),
 (393, 'Pattini'),
 (294, 'Arti marziali'),
 (248, 'Skateboard'),
 (146, 'Rugby'),
 (134, 'Baseball'),
 (124, 'Danza'),
 (93, 'Arceria'),
 (78, 'Freccette'),
 (62, 'Golf'),
 (60, 'Buoni / acconti'),
 (9, 'Intimo'),
 (5, 'Soft air')]

Articolo più caro

In [37]:
cursor.execute("SELECT  max(prezzo) ,descrizione  FROM ecommerce")
cursor.fetchall()

[(47982.34, "Camera d'aria")]

Articolo più venduto raggruppato per anno

In [39]:
cursor.execute("SELECT  max(a.somma),a.descrizione, a.anno from (select sum(qta) as somma,descrizione,anno FROM ecommerce group by anno) as a group by a.anno")
cursor.fetchall()

[(21, 'Multistazione', 2012),
 (5895, 'Ciabatte ', 2013),
 (26055, 'Vario', 2014),
 (43715, 'Pantalone imbottito', 2015),
 (48402, 'Vario', 2016),
 (58124, 'Pasture e stick', 2017),
 (58459, 'Pantalone cotone', 2018),
 (44347, 'Pallone', 2019),
 (72079, 'Piombi', 2020),
 (62103, 'Sci', 2021),
 (47261, 'T.shirt m/m', 2022),
 (11186, 'Scarpa', 2023)]

INDAGHIAMO LA STAGIONALITA'

Vediamo se le vendite aumentano durante la stagione estiva

In [43]:
cursor.execute("select sum(qta), Mese from ecommerce group by Mese order by sum(qta) desc")
cursor.fetchall()

[(44883, 4),
 (43660, 7),
 (43404, 3),
 (42231, 10),
 (41408, 9),
 (40754, 5),
 (40633, 1),
 (38746, 11),
 (37135, 12),
 (35862, 6),
 (35769, 8),
 (33162, 2)]

Analisi del fatturatto raggruppata per mese

In [49]:
cursor.execute("select sum(qta*prezzo), Mese from ecommerce group by Mese order by sum(qta*prezzo) desc")
cursor.fetchall() #Dicembre e Gennaio hanno il fatturato più alto

[(8615184.807319803, 1),
 (7180037.850019825, 12),
 (7112833.812699807, 3),
 (6761870.707899488, 7),
 (6113327.3914996805, 9),
 (6045109.769579789, 11),
 (5983049.0194997545, 8),
 (5750376.466099925, 4),
 (5736608.450299799, 10),
 (5361216.073360001, 2),
 (5092892.195299926, 5),
 (4387367.888400028, 6)]

Proviamo a concentrarci sul settore pesca

In [48]:
cursor.execute("select sum(qta), Mese from ecommerce where settore='Pesca' group by Mese order by sum(qta) desc")
cursor.fetchall()

[(22352, 3),
 (22237, 4),
 (22219, 5),
 (21893, 7),
 (20792, 6),
 (18766, 1),
 (18271, 10),
 (18265, 11),
 (18240, 9),
 (18221, 2),
 (16692, 8),
 (14744, 12)]

In [50]:
conn.close()